{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <title>{% block title %}Embarkr{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
        }
      }
    </script>

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/tailwind.css"
    />
  </head>

  <body class="flex flex-col font-sans min-h-screen relative overflow-x-hidden text-base-content">
    <!-- prettier-ignore -->
    {% include 'includes/header.html' %}
    <!-- prettier-ignore -->
    {% include 'includes/partial_messages.html' %}

    <main
      class="flex-grow bg-base-100 min-h-screen"
    >
      <!-- prettier-ignore -->
      {% block layout %} 
      <!-- prettier-ignore -->
      {% endblock %}
    </main>
{% include 'includes/footer.html' %}

    <script>
      const themeToggle = document.getElementById("theme-toggle");
      const htmlElement = document.documentElement;
      
      document.addEventListener("beforeunload", function() {
        const savedTheme = localStorage.getItem("theme");
        if (savedTheme) {
          htmlElement.setAttribute("data-theme", savedTheme);
        }
      });

      document.addEventListener("DOMContentLoaded", function() {
        themeToggle.addEventListener("click", function() {
          const currentTheme = htmlElement.getAttribute("data-theme");
          const newTheme = currentTheme === "night" ? "winter" : "night";

          htmlElement.setAttribute("data-theme", newTheme);
          localStorage.setItem("theme", newTheme);

          const themeChangedEvent = new Event("themeChanged");
          window.dispatchEvent(themeChangedEvent);
          console.log("Theme changed to ", newTheme);
          window.dispatchEvent(new Event("themeChanged"));
          console.log("themeChanged event dispatched");
        });
      });
  </script>
  
  
  </body>
</html>
