<!-- prettier-ignore -->
{% extends 'layouts/mainpage.html' %} 
<!-- prettier-ignore -->
{% block content %}
<link rel="stylesheet" href="/static/stylesheets/map.css">

<body>
  <div class="flex w-full" style="height: calc(100vh - 64px)">
    <ul id="conversation-menu" class="flex flex-col justify-between menu bg-base-200 w-56 md:w-64 lg:w-72 flex-none flex-nowrap overflow-y-scroll overflow-x-hidden transition-all duration-300 ease-in-out">
      <div class="menu-title text-base-content text-xl sticky top-0 px-0 bg-base-200">Conversations</div>
      <div class="overflow-y-scroll h-full">
        <!-- prettier-ignore -->
        {% for c in conversations %}
        <li class="list-none w-full">
          <div 
            id="conversation" 
            data-id="{{ c.id }}"
            class="flex items-center justify-between w-full h-12 px-0 cursor-pointer transition-colors"
            hx-get="{% url 'fetch_conversation' c.id %}" 
            hx-target="#chat" hx-swap="innerHTML" 
            hx-on:click="document.querySelectorAll('#conversation').forEach((cdiv) => cdiv.classList.remove('active')); this.classList.add('active');" 
            hx="click, mapUpdate"
          >
            <a class="flex items-center h-full px-2 truncate"> {{ c.title }} </a>

            <div class="dropdown dropdown-bottom dropdown-end">
              <div tabindex="0" role="button" class="btn bg-transparent border-none" onclick="event.stopPropagation()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  class="inline-block h-5 w-5 stroke-current">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
                  </path>
                </svg>
              </div>
              <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] p-2 shadow overflow-visible">
                <li>
                  <a class="px-4" href="#"
                    onclick="openEditModal({{ c.id }}, '{{ c.title|escapejs }}', '{{ c.city|escapejs }}', '{{ c.reason|escapejs }}')">Rename</a>
                </li>
                <li>
                  <a class="text-error px-4" href="#"
                    onclick="openDeleteModal({{ c.id }}, '{{ c.title|escapejs }}')">Delete</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <!-- prettier-ignore -->
        {% endfor %}
        
        
      </div>

      <div class="bottom-0 sticky mx-auto py-2 flex flex-col gap-4 z-50">
        <!-- prettier-ignore -->
        <label
          {% comment %} class="btn btn-primary btn-xs sm:btn-sm md:btn-md lg:btn-lg md:text-sm self-center items-center" {% endcomment %}
          class="btn btn-primary self-center"
          for="new-conversation">
          New Conversation
        </label>
        <div>
          <!-- prettier-ignore -->
          {% include 'partials/safety_modal.html' %}
        </div>
      </div>
    </ul>

    <svg xmlns="http://www.w3.org/2000/svg" class="btn btn-primary px-1" id="toggle-menu" viewBox="0 0 24 24"><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>

    <div class="flex-1 flex flex-col items-center py-4 z-0">
      <div id="no-active" class="px-2 font-bold text-xl">
        Select a conversation to begin
      </div>
      <div id="chat" class="w-full px-4 flex flex-col h-full justify-end"
        hx-on::after-swap="document.querySelector('#no-active').classList.add('hidden')">
      </div>
    </div>

    <button id="toggleMap" class="btn btn-primary mr-2">
      Hide Map
    </button>

    <div id="map-container" class="w-1/4 lg:w-1/3 relative transition-all duration-300 border">
      {% comment %} <button id="toggleMap"
        class="absolute mt-10 top-4 left-4 z-10 btn btn-primary">
        Hide Map
      </button> {% endcomment %}
      <div id="map" class="h-full w-full"></div>
    </div>
  </div>

  <div id="messages-container">
    <!-- prettier-ignore -->
    {% comment %} {% if messages %}
    <div>
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endcomment %}
  </div>

  <input type="checkbox" id="new-conversation" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold items-center pb-4">Start a New Conversation</h3>
      <!-- prettier-ignore -->
      <form id="new-conversation-form" method="POST" action="{% url 'new_conversation' %}"
        hx-target="#messages-container">
        <!-- prettier-ignore -->
        {% csrf_token %}
        <div class="form-control">
          <label for="conversation-title">Title</label>
          <input type="text" id="conversation-title" name="title" class="input input-bordered" required />
        </div>

        <label class="form-control mt-2">
          <label class="label label-text" for="city">City</label>
          <select id="city" name="city" class="select select-bordered" required>
            <option value="" disabled selected>Pick one</option>
            <!-- prettier-ignore -->
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            <!-- prettier-ignore -->
            {% endfor %}
          </select>
        </label>

        <label class="form-control mt-2">
          <label class="label label-text" for="reason">Reason</label>
          <select id="reason" name="reason" class="select select-bordered" required>
            <option value="" disabled selected>Pick one</option>
            <option value="Travel">Travel</option>
            <option value="Moving">Moving</option>
          </select>
        </label>

        <div class="modal-action">
          <label for="new-conversation" class="btn btn-error">Cancel</label>
          <button type="submit" class="btn btn-success">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>

  <input type="checkbox" id="edit-conversation" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold pb-4">Rename Your Conversation</h3>
      <form id="edit-conversation-form" method="POST" action="" hx-target="#messages-container">
        <!-- prettier-ignore -->
        {% csrf_token %}
        <div class="form-control">
          <label for="updated-title">Title</label>
          <input type="text" id="updated-title" name="updated-title" class="input input-bordered" required />
        </div>

        {% comment %} <label class="form-control mt-2">
          <label class="label label-text" for="updated-city">City</label>
          <select id="updated-city" name="updated-city" class="select select-bordered" required>
            <option value="" disabled selected>Pick one</option>
            <!-- prettier-ignore -->
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            <!-- prettier-ignore -->
            {% endfor %}
          </select>
        </label>

        <label class="form-control mt-2">
          <label class="label label-text" for="updated-reason">Reason</label>
          <select id="updated-reason" name="updated-reason" class="select select-bordered" required>
            <option value="" disabled selected>Pick one</option>
            <option value="Travel">Travel</option>
            <option value="Moving">Moving</option>
          </select>
        </label> {% endcomment %}

        <div class="modal-action">
          <label for="edit-conversation" class="btn btn-error">Cancel</label>
          <button type="submit" class="btn btn-info">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>

  <input type="checkbox" id="delete-conversation" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 id="delete-conversation-title" class="text-lg font-bold pb-4 truncate">
        Delete Conversation?
      </h3>
      <form id="delete-conversation-form" method="POST" action="" hx-target="#messages-container">
        <!-- prettier-ignore -->
        {% csrf_token %}
        <p for="conversation-delete">
          The conversation and all messages associated with it will be
          permanatly deleted
        </p>
        <div class="modal-action">
          <label for="delete-conversation" class="btn btn-outline">Cancel</label>
          <button type="submit" class="btn btn-error">
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  // hx-on::before-on-load="console.log('hrhr'); if (new_c_id != null) {document.querySelectorAll('#conversation').forEach((cdiv) => cdiv.classList.remove('active')); document.querySelector('[data-id=new_c_id]').classList.add('active');}"
  function openEditModal(
    conversationId,
    currentTitle,
    currentCity,
    currentReason
  ) {
    document.querySelector(
      "#edit-conversation-form"
    ).action = `/edit_conversation/${conversationId}/`;
    document.querySelector("#updated-title").value = currentTitle;
    // document.querySelector("#updated-city").value = currentCity;
    // document.querySelector("#updated-reason").value = currentReason;
    // document.querySelector("#updated-title").focus();
    document.querySelector("#edit-conversation").checked = true;
  }

  function openDeleteModal(conversationId, conversationTitle) {
    document.querySelector(
      "#delete-conversation-form"
    ).action = `/delete_conversation/${conversationId}/`;
    document.querySelector(
      "#delete-conversation-title"
    ).innerText = `Delete Conversation: ${conversationTitle}`;
    document.querySelector("#delete-conversation").checked = true;
  }


  const mapLocations = JSON.parse('{{ locations|safe }}');
  let map;
  let markers = [];
  let markerCluster;

  function clearMarkers() {
    markers.forEach(marker => marker.setMap(null));
    markers = [];
    if (markerCluster) {
      markerCluster.clearMarkers();
    }
  }

  function addMarkers(locations) {
    clearMarkers();

    const infoWindow = new google.maps.InfoWindow();

    locations.forEach(location => {
      const marker = new google.maps.Marker({
        position: { lat: location.lat, lng: location.lng },
        map: map
      });
      markers.push(marker);
    });

    markerCluster = new markerClusterer.MarkerClusterer({
      map,
      markers,
      algorithm: new markerClusterer.SuperClusterAlgorithm({
        radius: 100,
        maxZoom: 15
      })
    });


    if (markers.length > 0) {
      const bounds = new google.maps.LatLngBounds();
      markers.forEach(marker => bounds.extend(marker.getPosition()));
      map.fitBounds(bounds);


      if (markers.length === 1) {
        map.setZoom(14);
      }
    }
  }

  function initMap() {

    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: -33.8688, lng: 151.2093 },
      zoom: 6
    });


    const initialLocations = JSON.parse('{{ locations|safe }}');
    if (initialLocations.length > 0) {
      addMarkers(initialLocations);
    }

    document.addEventListener('mapUpdate', function (event) {
      const { locations, center } = event.detail;

      if (locations && locations.length > 0) {
        addMarkers(locations);
      }

      if (center) {
        map.setCenter(center);
      }
    });
    const toggleButton = document.getElementById('toggleMap');
    const mapDiv = document.getElementById('map');
    const mapContainer = document.getElementById('map-container');

    toggleButton.addEventListener('click', () => {
      if (mapContainer.classList.contains('hidden')) {
        toggleButton.textContent = 'Hide Map';
        mapContainer.classList.remove('hidden');
      } else {
        toggleButton.textContent = 'Show Map';
        mapContainer.classList.add('hidden');
        google.maps.event.trigger(map, 'resize');
      }
    });
  }
  
  const toggleConversation = document.getElementById('toggle-menu');
  const conversationMenu = document.getElementById('conversation-menu');
  toggleConversation.addEventListener('click', () => {
    if (conversationMenu.style.display === 'none') {
      conversationMenu.style.display = 'flex';
    } else {
      conversationMenu.style.display = 'none';
    }

  })
  document.body.addEventListener('change', e => {
    if (e.target.matches('input[id^="hotel-modal-"]') || e.target.matches('input[id^="place-modal-"]')) {
      const mapCont = document.getElementById('map-container');
      if (e.target.checked) {
        mapCont.classList.add('hidden');
      } else {
        mapCont.classList.remove('hidden');
        google.maps.event.trigger(map, 'resize');
      }
    }
  });
</script>

<script src="https://unpkg.com/@googlemaps/markerclusterer@2.4.0/dist/index.min.js"></script>
<script 
  src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" 
  async
  defer
></script>
<!-- prettier-ignore -->
{%endblock%}