{% extends 'layouts/mainpage.html' %} 
{% block title %}Explore{% endblock %}
{% block content %}



<section>
  {% comment %} For hotels, map shows up below results when using this vvvvv {% endcomment %}
  <div class="w-full mx-auto px-4 py-6">
    <form class="w-full lg:w-1/2 mx-auto gap-8 my-4" method="POST">
      {% csrf_token %}
      <label class="form-control w-full">
        {% comment %} <label class="label label-text text-lg" for="city">Destination</label> {% endcomment %}
        {% comment %} <label class="label label-text text-lg" for="city">Where are you headed?</label> {% endcomment %}
        <select
          id="city"
          name="city"
          class="bg-transparent p-4 border-b border-primary text-center font-bold"
          {% comment %} class="select text-lg" {% endcomment %}
          hx-post="{% url 'update_city_reason' %}"
          hx-trigger="change"
          hx-target="#search-box"
          hx-swap="innerHTML"
          required
        >
          <option value="" disabled selected>Select a City</option>
          {% for city in cities %}
          <option value="{{ city }}">{{ city }}</option>
          {% endfor %}
        </select>
      </label>
    </form>

    <div id="search-box" class="flex flex-col items-center">
      <p class="text-center mt-4 font-bold">
        Looking for something specific like neighborhood security or stays near gas stations? <br/> Go to the
        <a class="link" href="{% url 'chatbot' %}">chat page</a> for futher assistance
      </p>
    </div>
  </div>
</section>

<div 
  id="search-results" 
  class="flex flex-col w-full mt-4 px-4"
></div>
{%endblock%}
