{% extends 'layouts/mainpage.html' %} {% block content %}
<body>
  <div class="flex w-full" style="height: calc(100vh - 64px)">
    <ul class="menu bg-base-200 w-1/6">
      <label
        class="btn btn-wide self-center text-white bg-blue-500 hover:bg-blue-600"
        for="new-conversation"
      >
        Start New Conversation
    </label>
      <li class="menu-title">Conversations</li>
      {% for c in conversations %}
      <li>
        <a
          id="conversation"
          class="{% if active_conversation_id == c.id %}active{% endif %}"
          href="?conversation_id={{ c.id }}"
          hx-get="{% url 'fetch_conversation' c.id %}"
          hx-target="#chat"
          hx-swap="innerHTML"
          hx-on="htmx:afterSwap: this.classList.add('active');"
          >{{ c.title }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="w-5/6 bg-slate-500 flex flex-col items-center pb-4">
      <div class="w-1/2 flex flex-col h-full justify-end">
        <div id="chat"></div>

        <div class="flex items-center justify-around mt-2">
          <input
            id="prompt"
            type="text"
            placeholder="Ask me anything"
            class="input input-bordered w-11/12"
          />
          <button class="btn btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  {% comment %}
  <div id="modal" class="modal fade">
    <div id="new-conversation" hx-target="#new_conversation.html"></div>
  </div>
  {% endcomment %}

  <input type="checkbox" id="new-conversation" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold pb-4">Start a New Conversation</h3>
      <form
        id="new-conversation-form"
        method="POST"
        action="{% url 'new_conversation' %}"
      >
        {% csrf_token %}
        <div class="form-control">
          <label for="conversation-title">Title</label>
          <input
            type="text"
            id="conversation-title"
            name="title"
            class="input input-bordered"
            required
          />
        </div>
        <div class="modal-action">
          <label for="new-conversation" class="btn text-white bg-red-400 hover:bg-red-500"
            >Cancel</label
          >
          <button type="submit" class="btn text-white bg-green-400 hover:bg-green-500">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll("#conversation");

    links.forEach((link) => {
      link.addEventListener("click", () => {
        links.forEach((l) => l.classList.remove("active"));
        link.classList.add("active");
      });
    });
  });
</script>
{%endblock%}
