{% extends 'layouts/mainpage.html' %}
{% block content %}

<div class="flex items-center " style="height: calc(100vh - 64px)">

    <div class="relative w-1/2 flex items-center justify-center mr-12">
        <canvas id="sphereCanvas" class="w-screen h-screen"></canvas>
    </div>

    <div class="w-1/2 px-8 text-left text-slate-50 justify-center">
        <main>
            <h1 class="text-6xl font-bold">Embarkr</h1>
            <p class="text-lg mt-4 leading-relaxed">
                Welcome to Embarkr! <br> Where we save you time and reduce stress. <br>
                Embark to a new journey.
            </p>
            <a href="{%if request.user.is_authenticated%} {%url 'explore'%} {%else%} {%url 'register'%} {%endif%}"
                class="mt-8 inline-block bg-white text-gray-900 text-lg font-semibold py-2 px-6 border border-white hover:bg-gray-200">
                {%if request.user.is_authenticated%}
                Explore &rarr;
                {%else%}
                Get Started &rarr;
                {%endif%}
            </a>
        </main>
    </div>

</div>

<script type="module" src="/static/textures/globe.js"></script>
{% endblock %}