<div id="chat-messages" class="overflow-y-scroll max-h-full">
  {% for message in chat_messages %}
  <div
    class="chat {% if message.is_from_user %}chat-end{% else %}chat-start{% endif %}"
  >
    <div class="chat-bubble">{{ message.text }}</div>
  </div>
  {% endfor %} {% if bot_typing %}
  <div class="chat chat-start">
    <div class="chat-bubble">
      <span class="loading loading-dots loading-sm"></span>
    </div>
  </div>
  {% endif %}
</div>
<form
  id="send-prompt-form"
  method="POST"
  hx-post="{% url 'send_prompt' conversation_id %}"
  hx-target="#chat"
  hx-swap="innerHTML"
  class="flex items-center justify-around mt-2"
>
  {% csrf_token %}
  {% comment %} <input
    id="prompt"
    name="prompt"
    type="text"
    placeholder="Ask me anything"
    class="input input-bordered w-11/12 mr-2"
    maxlength="2000"
    required
  /> {% endcomment %}

  {% comment %} <div class="dropdown dropdown-top w-11/12 mr-2">
    <div id="prompt-selector" tabindex="0" role="button" class="btn w-full">Click to select a prompt</div>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] min-w-52 p-2 shadow">
      <li><a href="#" hx-trigger="click" hx-target="#prompt-selector" hx-swap="textContent" hx-on:click:"console.log('gogogog')">Item 1</a></li>
      <li><a href="#" hx-trigger="click" hx-target="#prompt-selector" hx-swap="textContent">Item 2</a></li>
    </ul>
  </div> {% endcomment %}

  <div class="flex flex-col w-11/12 mr-2">
    <div class="flex flex-wrap gap-2 mb-1">
      {% comment %} change optiions based on purpose of conversation {% endcomment %}
      <button name="pre-made-prompt" value="Schools" type="submit" class="btn btn-xs">Schools</button>
      <button name="pre-made-prompt" value="Saftey" type="submit" class="btn btn-xs">Saftey</button>
      <button name="pre-made-prompt" value="Healthcare" type="submit" class="btn btn-xs">Healthcare</button>
      <button name="pre-made-prompt" value="Employment" type="submit" class="btn btn-xs">Employment</button>
      <button name="pre-made-prompt" value="Housing" type="submit" class="btn btn-xs">Housing</button>
      <button name="pre-made-prompt" value="Diversity" type="submit" class="btn btn-xs">Diversity</button>
      <button name="pre-made-prompt" value="Traffic" type="submit" class="btn btn-xs">Traffic</button>
      <button name="pre-made-prompt" value="Weather" type="submit" class="btn btn-xs">Weather</button>
    </div>
    <input
      id="prompt"
      name="prompt"
      type="text"
      placeholder="Ask me anything"
      class="input input-bordered w-full"
      maxlength="2000"
    />
  </div>

  <button type="submit" class="btn btn-circle self-end" onclick="if (!document.querySelector('#prompt').value) {event.preventDefault(); alert('Can not send an empty prompt');}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"
      />
    </svg>
  </button>
</form>
<script>
  function scrollToBottom() {
    const container = document.getElementById("chat-messages");
    container.scrollTop = container.scrollHeight;
  }

  document.addEventListener("DOMContentLoaded", scrollToBottom);

  document.body.addEventListener("htmx:afterSwap", (event) => {
    if (event.detail.target.id === "chat") {
      scrollToBottom();
    }
  });

  function afterSendPrompt() {
    const conversationId = "{{ conversation_id }}";
    const prompt = "{{ prompt }}";

    htmx.ajax("POST", `/send_response/${conversationId}/${prompt}`, {
      target: "#chat",
      swap: "innerHTML",
      headers: {
        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
          .value,
      },
    });
  }

  document
    .querySelector("#send-prompt-form")
    .addEventListener("htmx:afterRequest", () => {
      afterSendPrompt();
    });
</script>
