<form
  action="{% url 'account_emailchange' %}"
  method="post"
  class="flex gap-2 items-center w-full"
  autocomplete="off"
>
  {% csrf_token %}
  <input
    type="email"
    id="email"
    name="email"
    value="{{ request.user.email }}"
    class="input w-full rounded-lg bg-gray-400/50 border border-gray-600 text-white placeholder-gray-400 focus:ring-2 focus:ring-blue-500 focus:border-transparent"
    required
  />

  <button type="submit" class="btn btn-success">Submit</button>

  <a
    hx-swap-oob="true"
    id="email-edit"
    href="{% url 'account_settings' %}"
    class="btn btn-secondary"
    {% comment %} class="font-bold text-indigo-900 hover:underline border" {% endcomment %}
  >
    Cancel
  </a>
</form>
