<!-- partials/password_reset.html -->
<div class="max-w-md mx-auto">
    <div id="messages"></div>

    <form hx-post="{% url 'account_passwordreset' %}" hx-target="#messages" class="space-y-4">
        {% csrf_token %}

        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Password</label>
            {% include 'includes/toggle_password.html' with name="old_password" %}
        </div>

        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
            {% include 'includes/toggle_password.html' with name="new_password"%}
        </div>

        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm New Password</label>
            {% include 'includes/toggle_password.html' with name="confirm_password"%}
        </div>

        <button type="submit" class="btn btn-primary w-full">
            Update Password
        </button>
        <a hx-swap-oob="true" id="password-reset" href="{% url 'account_settings' %}"
            class="btn btn-secondary">
            Cancel
        </a>
    </form>
</div>
