<form
  id="send-search"
  class="flex flex-col w-full items-center gap-4"
  method="POST"
  hx-post="{% url 'send_search' %}"
  hx-target="#search-results"
  hx-swap="innerHTML"
>
  {% csrf_token %}
  <div class="form-control w-full">
    <label class="label label-text text-lg" for="topic">Pick a Topic? 👀</label>

    <div id="topicOptions" class="flex flex-wrap gap-4">
      {% for prompt in premade_prompts %}
      <button type="button" data-value="{{ prompt }}" class="btn btn-outline">
        {{ prompt }}
      </button>
      {% endfor %}
    </div>
  </div>
  <input type="hidden" id="topic" name="topic" required />

  <div id="property-type-container" class="hidden form-control w-full">
    <label class="label label-text text-lg" for="propertyType"
      >Property Type? 🏠</label
    >

    <div id="propertyOptions" class="flex flex-wrap gap-4">
      <button type="button" data-value="any" class="btn btn-outline">
        Any
      </button>
      <button
        type="button"
        data-value="Single%20Family"
        class="btn btn-outline"
      >
        Single Family
      </button>
      <button type="button" data-value="Townhouse" class="btn btn-outline">
        Townhouse
      </button>
      <button type="button" data-value="Manufactured" class="btn btn-outline">
        Manufactured
      </button>
      <button type="button" data-value="Multi-Family" class="btn btn-outline">
        Multi-Family
      </button>
      <button type="button" data-value="Apartment" class="btn btn-outline">
        Apartment
      </button>
      <button type="button" data-value="Land" class="btn btn-outline">
        Land
      </button>
    </div>
  </div>
  <input type="hidden" id="propertyType" name="propertyType" required />

  <!-- Origin Selection (Hidden by Default)-->
  <div id="origin-container" class="w-full" style="display: none">
    <label class="form-control w-full">
      <label class="label label-text text-lg">Origin</label>
      <select id="origin" name="origin" class="select select-primary">
        <option value="" disabled selected>Select One</option>
        {% for location in cities %}
        <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
      </select>
    </label>
  </div>

  <!-- Flight Date Selection (Hidden by Default)-->
  <div id="flight-date-container" class="w-full" style="display: none">
    <label class="form-control w-full">
      <label class="label label-text text-lg" for="flight-date"
        >Flight Date</label
      >
      <input
        type="date"
        id="flight-date"
        name="flight-date"
        class="input input-primary"
      />
    </label>
  </div>

  <button
    type="submit"
    id="search-btn"
    class="btn btn-secondary w-1/2"
    disabled
  >
    Search
  </button>
</form>

<div id="search-results" class="flex flex-col w-full min-h-full mt-4"></div>

<script>
  document.querySelectorAll("#topicOptions button").forEach((btn) => {
    btn.addEventListener("click", () => {
      document
        .querySelectorAll("#topicOptions button")
        .forEach((b) => b.classList.remove("btn-active"));
      btn.classList.add("btn-active");
      document.getElementById("topic").value = btn.dataset.value;
      handleTopicChange();
      validateSearchButton();
    });
  });

  document.querySelectorAll("#propertyOptions button").forEach((btn) => {
    btn.addEventListener("click", () => {
      document
        .querySelectorAll("#propertyOptions button")
        .forEach((b) => b.classList.remove("btn-active"));
      btn.classList.add("btn-active");
      document.getElementById("propertyType").value = btn.dataset.value;
      validateSearchButton();
    });
  });

  function handleTopicChange() {
    const topic = document.querySelector("#topic").value;
    console.log("Topic: ", topic);
    const origin = document.querySelector("#origin-container");
    const flight_date = document.querySelector("#flight-date-container");

    if (topic === "Flights") {
      origin.style.display = "block";
      flight_date.style.display = "block";
    } else {
      origin.style.display = "none";
      flight_date.style.display = "none";
    }

    const propertyTypeContainer = document.querySelector(
      "#property-type-container"
    );
    if (topic === "Housing") {
      propertyTypeContainer.style.display = "flex";
    } else {
      propertyTypeContainer.style.display = "none";
    }
  }

  function afterSendSearch() {
    const city = "{{ city }}";
    const topic = document.querySelector("#topic").value;
    const propertyType = document.querySelector("#propertyType").value;
    document.querySelector("#search-btn").disabled = true;
    // let searchUrl = `/search_response/${city}/${topic}/`;
    let searchUrl = `/search_response/${city}/${topic}`;

    if (topic === "Flights") {
      const origin = document.querySelector("#origin")?.value;
      const flight_date = document.querySelector("#flight-date")?.value;

      const params = new URLSearchParams();
      if (origin) params.append("origin", origin);
      if (flight_date) params.append("flight_date", flight_date);
      searchUrl += "?" + params.toString();
    }

    if (topic == "Housing") {
      // htmx.ajax("POST", `/update_preferences/${propertyType}`, {
      //   target: "#search-results",
      //   swap: "none",
      //   headers: {
      //     "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
      //   },
      // });

      fetch(`/update_preferences/${encodeURIComponent(propertyType)}`, {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.text())
        .then(console.log);
    }

    htmx
      .ajax("POST", searchUrl, {
        target: "#search-results",
        swap: "innerHTML",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
        },
      })
      .then(() => {
        reinitializeMap();
      })
      .catch((error) => {
        console.error("Error in AJAX request:", error);
      })
      .finally(() => {
        document.querySelector("#search-btn").disabled = false;
      });
  }

  document
    .querySelector("#send-search")
    .addEventListener("htmx:afterRequest", () => {
      afterSendSearch();
    });

  function validateSearchButton() {
    const topic = document.querySelector("#topic").value;
    const propertyType = document.querySelector("#propertyType").value;

    const origin = document.querySelector("#origin").value;
    const flightDate = document.querySelector("#flight-date").value;

    const searchBtn = document.querySelector("#search-btn");

    if (!topic) {
      searchBtn.disabled = true;
      return;
    }

    if (topic === "Housing") {
      if (!propertyType) {
        searchBtn.disabled = true;
        return;
      }
    }

    if (topic === "Flights") {
      if (!origin || !flightDate) {
        searchBtn.disabled = true;
        return;
      }
    }

    searchBtn.disabled = false;
  }

  document.querySelector("#origin").addEventListener("change", () => {
    validateSearchButton();
  });

  document.querySelector("#flight-date").addEventListener("change", () => {
    validateSearchButton();
  });

  validateSearchButton();
</script>
