<form
  id="send-search"
  class="flex flex-col w-full items-center gap-4"
  method="POST"
  hx-post="{% url 'send_search' %}"
  hx-target="#search-results"
  hx-swap="innerHTML"
>
  {% csrf_token %}
  <label class="form-control w-full">
    <label class="label label-text text-lg" for="topic">Topic</label>
    <select id="topic" name="topic" class="select select-primary" required>
      <option value="" disabled selected>Pick one</option>
      {% for prompt in premade_prompts %}
      <option value="{{ prompt }}">{{ prompt }}</option>
      {% endfor %}
    </select>
  </label>

  <div id="propertyTypeSelect" class="hidden form-control w-full">
    <label class="label label-text text-lg" for="propertyType"
      >Property Type</label
    >
    <select
      id="propertyType"
      name="propertyType"
      class="select select-primary truncate w-full"
    >
      <option value="" disabled selected>Pick one</option>
      <option value="any">Any</option>
      <option value="Single%20Family">
        Single Family: A detached, single-family property
      </option>
      <option value="Condo">
        Condo: A single unit in a condominium development or building, which is
        part of a homeowner’s association (HOA)
      </option>
      <option value="Townhouse">
        Townhouse: A single-family property that shares walls with other
        adjacent homes, and is typically part of a homeowner’s association (HOA)
      </option>
      <option value="Manufactured">
        Manufactured: A pre-fabricated or mobile home, typically constructed at
        a factory
      </option>
      <option value="Multi-Family">
        Multi-Family: A residential multi-family building (2-4 units)
      </option>
      <option value="Apartment">
        Apartment: A commercial multi-family building or apartment complex (5+
        units)
      </option>
      <option value="Land">
        Land: A single parcel of vacant, undeveloped land
      </option>
    </select>
  </div>

  <!-- Origin Selection (Hidden by Default)-->
  <div id="origin-container" class="w-full" style="display: none">
    <label class="form-control w-full">
      <label class="label label-text text-lg">Origin</label>
      <select id="origin" name="origin" class="select select-primary">
        <option value="" disabled selected>Select One</option>
        {% for location in cities %}
        <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
      </select>
    </label>
  </div>

  <!-- Flight Date Selection (Hidden by Default)-->
  <div id="flight-date-container" class="w-full" style="display: none">
    <label class="form-control w-full">
      <label class="label label-text text-lg" for="flight-date"
        >Flight Date</label
      >
      <input
        type="date"
        id="flight-date"
        name="flight-date"
        class="input input-primary"
      />
    </label>
  </div>

  <button
    type="submit"
    id="search-btn"
    class="btn btn-secondary w-1/2"
    disabled
  >
    Search
  </button>
</form>
{% comment %} {% comment %}
<p class="text-center mt-4 font-bold">
  Do you want to learn more about the city? (neighborhood security of an
  specific address, stays near gas stations) Go to the
  <a class="link" href="{% url 'chatbot' %}">chat page</a> for futher assistance
</p>
{% endcomment %}

<div
  id="search-results"
  class="flex flex-col w-full min-h-full mt-4"
></div>

<script>
  function handleTopicChange() {
    const topic = document.querySelector("#topic").value;
    console.log("Topic: ", topic)
    const origin = document.querySelector("#origin-container");
    const flight_date = document.querySelector("#flight-date-container");

    if (topic === "Flights") {
      origin.style.display = "block";
      flight_date.style.display = "block";
    } else {
      origin.style.display = "none";
      flight_date.style.display = "none";
    }
  }
  document
    .querySelector("#topic")
    .addEventListener("change", handleTopicChange);

  function afterSendSearch() {
    const city = "{{ city }}";
    const reason = "{{ reason }}";
    const topic = document.querySelector("#topic").value;
    const propertyType = document.querySelector("#propertyType").value;
    document.querySelector("#search-btn").disabled = true;
    // let searchUrl = `/search_response/${city}/${reason}/${topic}/`;
    let searchUrl = `/search_response/${city}/${reason}/${topic}`;

    if (topic === "Flights") {
      const origin = document.querySelector("#origin")?.value;
      const flight_date = document.querySelector("#flight-date")?.value;

      const params = new URLSearchParams();
      if (origin) params.append("origin", origin);
      if (flight_date) params.append("flight_date", flight_date);
      searchUrl += "?" + params.toString();
    }

    if (topic == "Housing") {
      // htmx.ajax("POST", `/update_preferences/${propertyType}`, {
      //   target: "#search-results",
      //   swap: "none",
      //   headers: {
      //     "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
      //   },
      // });

      fetch(`/update_preferences/${encodeURIComponent(propertyType)}`, {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
          "Content-Type": "application/json"
        }
      }).then(response => response.text()).then(console.log);      
    }

    htmx
      .ajax("POST", searchUrl, {
        target: "#search-results",
        swap: "innerHTML",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
        },
      })
      .then(() => {
        reinitializeMap();
      })
      .catch((error) => {
        console.error("Error in AJAX request:", error);
      })
      .finally(() => {
        document.querySelector("#search-btn").disabled = false;
      });
  }

  document
    .querySelector("#send-search")
    .addEventListener("htmx:afterRequest", () => {
      afterSendSearch();
    });

  function validateSearchButton() {
    const topic = document.querySelector("#topic").value;
    const propertyTypeSelect = document.querySelector("#propertyTypeSelect");
    const propertyType = document.querySelector("#propertyType").value;

    const origin = document.querySelector("#origin").value;
    const flightDate = document.querySelector("#flight-date").value;

    const searchBtn = document.querySelector("#search-btn");

    if (!topic) {
      searchBtn.disabled = true;
      return;
    }

    if (topic === "Housing") {
      if (!propertyType) {
        searchBtn.disabled = true;
        return;
      }
    }

    if (topic === "Flights") {
      if (!origin || !flightDate) {
        searchBtn.disabled = true;
        return;
      }
    }

    searchBtn.disabled = false;
  }

  document.querySelector("#topic").addEventListener("change", () => {
    const topic = document.querySelector("#topic").value;

    const propertyTypeSelect = document.querySelector("#propertyTypeSelect");
    if (topic === "Housing") {
      propertyTypeSelect.style.display = "block";
    } else {
      propertyTypeSelect.style.display = "none";
    }

    validateSearchButton();
  });

  document.querySelector("#propertyType").addEventListener("change", () => {
    validateSearchButton();
  });

  document.querySelector("#origin").addEventListener("change", () => {
    validateSearchButton();
  });

  document.querySelector("#flight-date").addEventListener("change", () => {
    validateSearchButton();
  });

  validateSearchButton();
</script>
