<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div>
      <form
        method="POST"
        hx-post="/login/"
        hx-target="#messages-container"
        hx-swap="innerHTML"
      >
        {% csrf_token %}
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div id="messages-container">
          {% if messages %}
          <div>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>