<footer class="footer bg-neutral text-neutral-content p-3">
    <nav>
      <h6 class="footer-title">Services</h6>
   
      <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
     
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover">Terms of use</a>
      
      <a class="link link-hover">Cookie policy</a>
    </nav>
  </footer>