<footer class="footer text-white p-3 min-h-30">
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover" href="https://aliba1.github.io/group-12-capstone/index.html" target="_blank" rel="noopener noreferrer">About us</a>
      <a class="link link-hover" href="{% url 'contact' %}">Contact</a>

     
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover" href="{% url 'legal' %}#terms">Terms of use</a>
      <a class="link link-hover" href="{% url 'legal' %}#cookies">Cookie policy</a>

    </nav>
  </footer>